body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title{
  margin-top: 1em;
  text-align: center;
}

.FileInput{
  border: #444444 0.05em dashed;
  padding: 1em;
}

.container{
  margin-bottom: 2em;
}

.modal_form{
  text-align: center;
  padding: 1em;
}