.analyze-container.ana-subcontainer{
    background-color: #DFDDC5;
    border-radius: 10px;
	box-shadow: -15px 15px 70px black;
}

.safeHighlight{
    box-shadow: none;
    padding:0;
}

.warnHighlight{
    box-shadow: none;
    padding: 0;
}

.ana-subcontainer .form-control{
    width:15%;
    margin-left: 73%;
}

.form-control:disabled, .form-control[readonly]{
    color:#274259;
}

input[type="submit"]{
	border: 2px solid #274259;
	border-radius: 2em;
	line-height: 0;
	text-align: center;
	background-color: #274259;
	padding-left: 0.1em;
	padding-right: 0.1em;
	color:white;
	margin-top: 1em;

}

.col-12 > form > h1{
	font-weight: bold;
	color: #274259;
	font-size:1.5em;
    text-align: center;
    margin-bottom: 1em;
	/* margin-left: 3em; */
}

.col-12 > form > select {
	text-align: center;
	margin-right:0.5em;
	/* margin-top: 1.5em; */
	border: 2.5px solid #274259;
    border-top: 5px solid #274259;

}

#assignForAnalyze{
    width: 70%;
	margin-top: 1em;
	margin-left: 1em;
	/*text-align:center;*/
}

.col-12 > form > label{
    width:15%;
    /* float: left; */
    text-align: right;
    color: #274259;
	font-size:1.05em;
	margin-top: 1.2em;
}


