.navbar{
  background-color: #FFAC1D;
}


.ana-subcontainer .form-control{
  width: 100% ;
  margin-bottom: 1em;
}

#finishButton{
  margin-right: .5em;
}

li.nav-item{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

li > a{
  color: white;
}

#biblio-box{
  border: 1px solid #274259;
  border-radius: .25em; 
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 1em;
  transition: background-color .25s;
}

#biblio-box:hover{
  background-color: rgba(73, 80, 87, .1);
}

#mainContent{
  margin-bottom: 6%;
}

#DemoContents{
  background-color: #F7F6E7;
  margin-top: 2.5%;
}


.rubricContainer{
  display: inline-block;
  padding: 1em;
  padding-top: 0em;
}

.card{
  width: 33%;
  display:inline-block;
}

.card-body{
  padding: 1em;
  text-align: left;
}

.card-body > label{
  width: 100%;
  text-align: left;
}

.analyze-container .btn{
  margin-top: .75em;
  margin-bottom: 1em;
  border-radius: 2em;
}

.anno-contain > .btn{
  margin: auto;
  margin-top: .5em;
  margin-bottom: .25em;
  margin-left:.25em;
  margin-right: .25em;
  width: 45%;
}

.discoveryTool .card{
  display: block;
  width: 100%;
}

.analyze-container .jumbotron{
  padding: 1em;
  height: 400px;
  overflow: scroll;
}

.analyze-container #assignmentInfo{
  display: inline-block;
  border: 2.5px solid #274259;
  border-top: 5px solid #274259;
  background-color:white;
  text-align: center;
  padding-left:1em;
  padding-right:1em;
  border-radius: 5px;
  margin-top:.25em;
}

.analyze-container h4{
  text-align: left;
  color:#274259;
  font-size:1em;
  font-weight: bold;
}

.analyze-container select{
  width: 100%;
  text-align: center;
  margin-right:0.5em;
  margin-top: 1em;
  border: 2.5px solid #274259;
  border-top: 5px solid #274259;
  margin-bottom: 2em;
  margin-top: 0;
}

#curAnno{
  padding: 0;
  width: 100%;
  height: 6em;
}

.progressBox p{
  margin: 0;
  color: #274259;
	font-size:.95em;
	margin-top: 1.2em;
}

.annotate .btn{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: .25em;
}

#selectedText{
  padding: .5em;
  background-color: white;
  margin-top: 1em;
}

.savedAnimation{
  animation-name: borderFlash;
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  border-color: green;
  border-style: solid;
}
.analyze-container ul{
  padding: 0;
}

.analyze-container li{
  list-style-type: none;
  text-align: left;
  background-color: white;
  min-height: 2.5em;
  padding: .5em;
  color: black;
  width: 100%;
  display: inline-block;
}

.analyze-container li:nth-child(odd){
  background-color: lightgrey;
}

.analyze-container li button{
  width: 100%;
  word-wrap: break-word;
}


h2.analyzeHeader{
  font-weight: bold;
  color: #274259;
  font-size: 1.5em;
  text-align: left;
}

.discoveryTool > .card > .card-body{
  border: 2.5px solid #274259;
  border-left: 5px solid #FFAC1D;
  padding: 0.5em;
}

.discoveryTool > .card > .card-body > .card-title{
  margin-bottom:0.25em;
  /* border-bottom: 1px dashed #FFAC1D; */
  margin-left:0;
}

.discoveryTool > .card > .card-body > .card-text{
  padding-left:1em;
  margin-right:0;
}

#paperDone{
  margin-top:1em;
}

#nextPaper{
  background-color: #274259;
}

#markBtn{
  background-color: #FFAC1D;
  color:#274259;
  width: 80%;
  margin-left: 3em;
  margin-right:auto;
  border:none;
}

/* .col-6 > div.overflow-auto{
  box-shadow: -15px 15px 70px black;
} */

@keyframes borderFlash{
  0%{border-width: 0px; background-color: white;}
  50%{border-width: 9px; background-color: green;}
  100%{border-width: 0px; background-color: white;}
}