.classes-container{
	padding-top: 5em;
	background-color: #DFDDC5;
	width: 100%;
	/* color: black; */
	margin-top: -1.1em;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	border-radius: 10px;
	box-shadow: -15px 15px 70px black;
	/* border: 5px solid #FFAC1D; */
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	z-index: 0;
}

.classes-container form{
	padding: .5em;
	margin-bottom: 0;
}

.classes-container .form-group{
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
}

.classes-container input{
	width: 70%;
	margin-bottom: 1em;
}

.classes-container select{
	width: 70%;
}

.classes-container label{
	margin-right: 1%;
	margin-bottom: 1em;
	width: 29%;
	text-align: left;
}

.classes-container textarea{
	width: 100%;
	margin-bottom: 0;
	height: 10em;
}

.classes-container .btn{
	display: inline-block;
	width: 40%;
	text-align: center;
}

.currentClasses{
	/* border: 2px solid black; */
	padding-left: 0;
	border-radius: 5px;
}

.currentClasses li{
	list-style-type: none;
	text-align: left;
	background-color: white;
	height: 2.5em;
	padding: .5em;
}

.currentClasses li:nth-child(odd){
	background-color: pink;
}

.currentClasses .classLi:hover{
	background-color: #2980b9;
	color: #fff; 
}

#addClassForm label{
	width:15%;
	float: left;
	text-align: right;
}

#addClassForm input{
	/* width: 50%; */
	text-align: center;
	margin-right:0.5em;
	margin-top: 1em;
	border: 2.5px solid #274259;
	border-top: 5px solid #274259;
}

#addClassForm textarea{
	width:70%;
	text-align: center;
	margin-right:0.5em;
	margin-top: 1em;
	border: 2.5px solid #274259;
	border-top: 10px solid #274259;
	border-bottom: 10px solid #274259;
}

#addClassForm input[type="submit"]{
	border: 2px solid #274259;
	width:15%;
	border-radius: 2em;
	line-height: 0;
	text-align: center;
	background-color: #274259;
	padding-left: 0.1em;
	padding-right: 0.1em;
	color:white;
	margin-left:70%;
	margin-top: 1em;

}
/* #addAssignmentForm{
	border-left: solid 0.1em #274259;
} */
#addAssignmentForm label{
	width:15%;
	float: left;
	text-align: right;
}

#classAssign{
	border: 2.5px solid #274259;
	border-top: 5px solid #274259;
}

#addAssignmentForm input,select{
	width: 70%;
	text-align: center;
	margin-right:0.5em;
	margin-top: 1em;
	border: 2.5px solid #274259;
	border-top: 5px solid #274259;
}


#addAssignmentForm textarea{
	width:70%;
	text-align: center;
	margin-right:0.5em;
	margin-top: 1em;
	border: 2.5px solid #274259;
	border-top: 10px solid #274259;
	border-bottom: 10px solid #274259;
}

#addAssignmentForm input[type="submit"]{
	border: 2px solid #274259;
	width:15%;
	border-radius: 2em;
	line-height: 0;
	text-align: center;
	background-color: #274259;
	padding-left: 0.1em;
	padding-right: 0.1em;
	color:white;
	margin-left:70%;
	margin-top: 1em;

}


.col-6 h2,h3{
	font-weight: bold;
	color: #274259;
	font-size:1.5em;
	text-align: left;
	/* margin-left: 3em; */
}

.col-6 label{
	color: #274259;
	font-size:1.05em;
	margin-top: 1.2em;

}
