.download-container{
	background-color: #DFDDC5;
	padding-top: 5em;
	color:#274259;
	margin-top: -1.1em;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	border-radius: 10px;
	box-shadow: -15px 15px 70px black;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.download-container h1{
	font-weight: bold;
	color: #274259;
	font-size:1.5em;
  text-align: center;
}

.download-container select{
	width: 20%;
	text-align: center;
	border: 2.5px solid #274259;
	line-height: 0;
}
<<<<<<< HEAD

#downloadForm label{
	width:15%;
	color: #274259;
	font-size:1.05em;
	margin-top: 1.2em;
}
=======
>>>>>>> b504844ec849c16a3072288e59e445b263208a00
