.hubButton 
{
  background-color: #274259;
  border-radius: .5em;
  border: solid #ffffff .15em; 
  width:60%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: -15px 15px 70px black;

}

.hubButton > p
{
  margin-top: 2em;
  text-align: center;
  font-size: 1.50em;
}


#hub{
  /* margin-top: 3em; */
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 3em;
}

.hubIcon
{
  width:65%;
}

@media only screen and (max-width: 800px){

  .hubBackground{
    padding-left: 0;
    padding-right: 0;
  }
  .hubButton 
  {
    width:3.69725em;
    height: 3.69725em;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hubIcon
  {
    width:50%;
    height: 50%;
  }

}

@media only screen and (min-width: 1080px){
  .hubBackground{
    width: 275px;
    margin: auto;
  }
}