button
{
  border: none;
  background-color: green;
  color:white;
  padding: 1em;
  cursor:pointer ;
  width: 75%;
  margin-right: 1em;

}

button:hover
{
  opacity: 0.8;
}

.container
{
  background-color: #F7F6E7;
  margin-top: 3em;
  border: solid #FFAC1D 0.24em;
  border-radius: 5em;
}

.beside_picture > form > h1
{
  font-weight: bold;
  font-family: "avenir", sans-serif;
  color:#383D3B;
  text-align: center;
}

.imgcontainer
{
  text-align: center;
  margin: .5em .5em .5em .5em;
  position: relative;
}

#image_container
{
  height: 82%;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

#welcome_img, #createImage
{
  border-right: solid #FFAC1D 0.24em; 
  border-top-left-radius: 4.75em;
  border-bottom-left-radius:4.75em;
  width:250%;
  margin-left: -1em;
  padding-left: 0;
}

#image_container2
{
  height: 82%;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

.beside_picture
{
  margin-left: 1em;
}

.beside_picture > form
{
  margin-top: 1em;
  color: black;
  margin-left: 0;
  margin-right: 0;
  font-size: 90%;
  text-align: center;
}

.email, .uname, .psw
{
  margin-top: 1em;
  padding-left: 1em;
  padding-right:1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
  text-align: center;
  width: 60%;
}

.continue
{
  width:14%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  margin-top: -5.75em; 
  margin-right: 7.3em;
  background-color: #274259;
  padding-left: 0.1em;
  padding-right: 0.1em;
  float: right;
}

.back
{
  padding-left: 0.1em;
  padding-right: 0.1em;
  width:15%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  margin-top: 1.5em;
  background-color: #F7F6E7;
  border: solid #274259;
  color:#274259; 
  margin-left: 12%;
}

.acnt_stuff
{
  width:40%;
  margin-left: 15%;
  margin-top: 1em;
  text-align: center;
  padding:0.2em;
  background-color: #274259;
}

@media only screen and (max-width:1200px){
  .continue{
    margin-right: 6.0em;
  }
}

@media only screen and (max-width:990px)
 {
 #welcome_img, #createImage
 {
   height: 122%;
 }

 .continue
 {
   width:19%;
   margin-right: 3.5em;
 }

 .back
 {
  width:21%;
  margin-left: 8%;
  
 }

 .email, .uname, .psw
 {
  width:80%;
 }

 .beside_picture > form
 {
   margin-bottom: 0;
 }

 .acnt_stuff
 {
   /* margin-top: -1em; */
   margin-bottom: 1em;
 }
} 

@media only screen and (max-width:770px)
 {
 #welcome_img, #createImage
 {
   height: 122%;
 }


 .continue
 {
   width:25%;
   margin-right: 2.5em;
 }

 .back
 {
  width:32%;
  margin-left: -20%;
  
 }
} 