button
{
  border: none;
  background-color: green;
  color:white;
  padding: 1em;
  cursor:pointer ;
  width: 75%;
  margin-right: 1em;

}

.googleLoginContainer{
  margin:1em;
  margin-left:7em;

}
button:hover
{
  opacity: 0.8;
}

.container
{
  background-color: #F7F6E7;
  margin-top: 3em;
  border: solid #FFAC1D 0.24em;
  border-radius: 1em;
  box-shadow: -15px 15px 70px black;
}

.beside_picture > h1
{
  font-weight: bold;
  font-family: "avenir", sans-serif;
  color:#383D3B;
  text-align: center;
  margin-top: 3em;
  margin-left: 1em;
}

.imgcontainer
{
  text-align: center;
  margin: .5em .5em .5em .5em;
  position: relative;
}

#image_container
{
  height: 82%;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

#welcome_img, #createImage
{
  border-right: solid #FFAC1D 0.24em; 
  border-top-left-radius: .75em;
  border-bottom-left-radius:.75em;
  width:250%;
  margin-left: -1em;
  padding-left: 0;
}

#image_container2
{
  height: 82%;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

.beside_picture
{
  margin-left: 1em;
}

.beside_picture > form
{
  margin-top: 5em;
  color: black;
  margin-left: 2em;
  margin-right: 0;
  font-size: 90%;
  text-align: center;
  margin-bottom:0;
  padding-bottom:0;
}

.form-group{
  margin-left: 4em;
}

.email, .uname, .psw
{
  margin-top: 1em;
  padding-left: 1em;
  padding-right:1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
  text-align: center;
  width: 65%;
}

.continue
{
  width:15%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  margin-top: -4.4em; 
  margin-right:6em;
  background-color: #274259;
  padding-left: 0.1em;
  padding-right: 0.1em;
  float: right;
}

.confirm
{
  width:15%;
  border-radius: 2em;
  line-height: 0.1em;
  text-align: center;
  background-color: #274259;
  padding-left: 0.1em;
  padding-right: 0.1em;
  /* margin-top: -2%; */
  
}

.back
{
  padding-left: 0.1em;
  padding-right: 0.1em;
  width:19%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  margin-top: 1.5em;
  background-color: #F7F6E7;
  border: solid #274259;
  color:#274259; 
}

.back_to_login
{
  padding-left: 0.1em;
  padding-right: 0.1em;
  width:15%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  background-color: #F7F6E7;
  border: solid #274259;
  color:#274259; 
  margin-left: 35%;
  margin-top:0;
}

.acnt_stuff
{
  width:35%;
  margin-left: 15%;
  margin-top: 0;
  text-align: center;
  padding:0.2em;
  background-color: #274259;
}

@media only screen and (max-width:1198px){
  .continue{
    /* margin-right: 5.5em; */
  }
  .back{
    margin-left:-10%;
  }
}

@media only screen and (max-width:994px)
 {
 #welcome_img, #createImage
 {
   height: 122%;
 }

 .continue
 {
   /* width:19%; */
   margin-right: 3em;
 }

 .back
 {
  width:21%;
  /* margin-left: -10%; */
  
 }

 .email, .uname, .psw
 {
  width:80%;
 }

 .beside_picture > form
 {
   margin-bottom: 0;
 }

 .acnt_stuff
 {
   /* margin-top: -1em; */
   margin-bottom: 1em;
 }
} 

@media only screen and (max-width:770px)
 {
 #welcome_img, #createImage
 {
   height: 122%;
 }


 .continue
 {
   /* width:25%; */
   margin-right: 2em;
 }

 .back
 {
  width:32%;
  /* margin-left: -30%; */
  
 }
} 