.outline-list {
    display: block;
    overflow-y: scroll;
    height: 100px;
    width: auto;
    border: 1px solid black;
    justify-content: center;
    margin: 1em;
    align-items: center;
}

.pdf-container {
    display: flex;
    background: rgb(160, 164, 167);
    max-width: calc(100% - 2em);
    margin: 1em;
    justify-content: center;
}

.pdf-viewer {
    display: flex;
    max-width: calc(100% - 2em);
    justify-content: center;
}

.page-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.zoom-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 1em
}
.document-wrapper {
    max-height: 800px;
    overflow-y: auto;
}