*
{
  font-family: sans-serif;

}

body{
  background-color: #F7f6E7;
}

button
{
  border: none;
  background-color: green;
  color:white;
  padding: 0.5em;
  cursor:pointer ;
  width: auto;
  margin-right: 1em;

}

button:hover
{
  opacity: 0.8;
}

.navbar{
  background-color: #FFAC1D;
}


#image_container
{
  background-image: url("karina-vorozheeva-666313-unsplash.jpg");
  height: 82%;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

#image_container2
{
  background-image: url("joe-caione-781415-unsplash.jpg");
  height: 82%;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-position: right;
  background-repeat: no-repeat;
  
}


form
{
  margin-top: 5em;
  margin-left: 5.5em;
}


input[type=text], input[type=password], input[type=email]
{
  width: 70% ;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
}

#curAnno{
  margin-bottom: .5em;
}

#finishButton{
  margin-right: .5em
}

#ResearchList{
  margin-bottom: .5em;
}

li.nav-item{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

li > a{
  color: white;
}

.sidemenu{
  color: black;
}

.sidebar{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #274259;
  height: 14em;
  padding: 2em;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.button-container{
  display: inline-block;
  vertical-align: top;
}

#MainContent{
  width: 80%;
}

a.active{
  color: black;
}

.head{
  margin-top: 1em;
  text-align: center;
}

.mainCollapse{
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background-color: #FFAC1D;
  z-index: 1000;
  position: absolute;
  right: 2.5%;
  top: 215px;
  padding: .25em;
}

.miniCircle{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  z-index: 1001;
  background-color: #274259;
  
}

.head-1{
  margin-bottom: 2em;
  padding: .5em;
  background-color: #274259;
  color:white;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1em;
  text-align: center;
  border-top-left-radius: 25px;
}
.head-2{
  margin-bottom: 0;
}

.container
{
  padding: .01em;
}

.row{
  margin-right: .1em;
  margin-left: .1em;
}

#biblio-box{
  height: 6em;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px; 
  margin-bottom: 2em;
  padding: 1em;
  transition: background-color .25s;
}

#biblio-box:hover{
  background-color: rgba(73, 80, 87, .1);
}

.cancelbtn 
{
  width: auto;
  padding: .5em .5em; 
  background-color: #f44336;
}

.imgcontainer
{
  text-align: center;
  margin: .5em .5em .5em .5em;
  position: relative;
}

img.avatar
{
  width: 65%;
  border-radius: 65%;
}

span.psw
{
  float: right;
  padding-top: .5em;
}

.pop{
}

.pop-content
{
  margin:auto;
  border: none; 
  width: 80%;
}

.close
{
  position: absolute;
  right: 0.01em;
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.close:hover, .close:focus
{
  color:red;
  cursor:pointer;
}

.animate
{
  -webkit-animation: animatezoom 0.6s ;
  animation: animatezoom 0.6s; 
}


@-webkit-keyframes animatezoom
{
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom 
{
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: .300em)
{
  span.psw
  {
    display:block;
    float:none;
  }

  .cancelbtn
  {
    width: 100%;
  }
}

#signup
{
  display: none;
}

#MainMenuDrop{
  text-align: left;
  margin-left: 5%;
}

.menuButton{
  width: 10em;
  height: 10em;
  border-radius: 144px;
  background-color: #DFDDC5;
  transition: height .25s;
  vertical-align: top;
  overflow: hidden;
  margin-bottom: 2.5em;
  opacity: 1;
  border: 5px solid #274259;
  color: black;
  z-index: 100;
}

.menuButton:hover{
  height: 15em;
  opacity: 1;
  z-index: 100;
}

.hubButton 
{
  background-color: pink;
  border-radius: 50%;
  width:8.48375em;
  height: 8.48375em;
  margin-right: 0;
  margin-left: 0;
}

.hubIcon
{
  background-color: pink;
}

#hub
{
  margin-top: 3em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 3em;
}

.classes-container{
  padding-top: 5em;
  background-color: ;
  width: 100%;
}