.NavLinkButton{
    color: #274259;
    font-weight: bold;
    padding:0;
    border: none;
    background: transparent;
    border-radius: 0;
}

/* TODO: Make more flushed out. This is a temp fix for user readability and consistency with navLinks */
.NavLinkButton:hover {
    color: blue;
    border-bottom: 2px solid blue;
    transition: 0.15s;
}