h1
{
	padding-bottom: 0.4em;
}

#user_settings
{
	margin-top: 3em;
	padding: 1em;
	background-color: #F7F6E7;
	border-radius: 2em;
	text-align: center;
}

input[type="text"], input[type="password"], input[type="email"]
{
	width:50%;
}

#make_changes
{
	width:10%;
	margin-left: 30%;
	margin-top: 1em;
	border-radius: 2em;
	background-color: #FFAC1D;
	border:none;
}

#cancel_changes
{
	width:10%;
	margin-top: 1em;
	border-radius: 2em;

}

#delete_account
{
	margin-top: 4em;
	margin-left: 60%;
	width: 30%;
	
}