.navbar{
  background-color: #FFAC1D;
}

p
{
  margin-top: 2em;
}
#curAnno{
  margin-bottom: .5em;
}

#finishButton{
  margin-right: .5em;
  width:40%;
}

#ResearchList{
  margin-bottom: .5em;
}

li.nav-item{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

li > a{
  color: white;
}

#biblio-box{
  height: 6em;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px; 
  margin-bottom: 2em;
  padding: 1em;
  transition: background-color .25s;
}

#biblio-box:hover{
  background-color: rgba(73, 80, 87, .1);
}

#DemoContents{
  background-color: #F7F6E7;
  margin-top: 2.5%;
}

#cancelButton
{
  width:40%;
}
