*
{
  font-family: sans-serif;

}

body{
  background-color: #383D3B;
  color: white;
}

h2{

}

a.active{
  color: black;
}

.head{
  margin-top: 1em;
  text-align: center;
}


.head-1{
  margin-bottom: 2em;
  padding: .5em;
  color:black;
  
}

.head-2{
  margin-bottom: 0;
}

.container
{
  padding: .01em;
}

.row{
  margin-right: .1em;
  margin-left: .1em;
}


.cancelbtn 
{
  width: auto;
  padding: .5em .5em; 
  background-color: #f44336;
}

/*

img.avatar
{
  width: 65%;
  border-radius: 65%;
}

span.psw
{
  float: right;
  padding-top: .5em;
}



.close
{
  position: absolute;
  right: 0.01em;
  color: black;
  font-size: 3em;
  font-weight: bold;
}


.close:hover, .close:focus
{
  color:red;
  cursor:pointer;
}

.animate
{
  -webkit-animation: animatezoom 0.6s ;
  animation: animatezoom 0.6s; 
}


@-webkit-keyframes animatezoom
{
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom 
{
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: .300em)
{
  span.psw
  {
    display:block;
    float:none;
  }

  .cancelbtn
  {
    width: 100%;
  }
}
*/


.classes-container{
  padding-top: 5em;
  background-color: #F7F6E7;
  width: 100%;
  color: black;
  margin-top: 2.5%;
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-radius: 15px;
}


