form{
	text-align: left;
	margin-top: 1em;
	margin-left: 0;
}

.assign-container{
	height: 500px;
	background-color: #F7F6E7;
	color: black;
	border-radius: 15px;
	z-index: -200;
}

#selectClass{
	
}

#UploadDoc{
	background-color: white;
	border: 1px solid #ced4da;
    border-radius: .25rem;
}

label{
	width: 20%;
}

form{
	padding: 1.5em;
}

.form-control{
	display: inline-block;
	width: 80%;
}

.form-control-file{
	display: inline-block;
	width: 80%;
	margin-bottom: 1em;
}

.btn{
	width: 100%;
}