.classes-container form{
	padding: .5em;
	margin-bottom: 0;
}

.classes-container .form-group{
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
}

.classes-container input{
	width: 70%;
	margin-bottom: 1em;
}

.classes-container label{
	margin-right: 1%;
	margin-bottom: 1em;
	width: 29%;
	text-align: left;
}

.classes-container textarea{
	width: 100%;
	margin-bottom: 0;
	height: 10em;
}

.classes-container .btn{
	display: inline-block;
	width: 40%;
	text-align: center;

}