.hubButton 
{
  background-color: #274259;
  border-radius: 50%;
  width:8.48375em;
  height: 8.48375em;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}


.hubBackground
{
  background-color:#F7F6E7;
  padding-left:1em;
  padding-right: 1em;
  padding-top: 4em;
  padding-bottom:4em;
  height: 400px;
  width: 275px;
  border-radius: 2em;
  margin-left: 2em;
  color: #383D3B;
}

#hub{
  margin-top: 3em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 3em;
}

.hubIcon
{
  width:80%;
}

@media only screen and (max-width: 800px){


   .hubButton 
  {
    width:3.69725em;
    height: 3.69725em;
  }

  .hubIcon
  {
    width:50%;
    height: 50%;
  }

}