
button
{
  border: none;
  background-color: green;
  color:white;
  padding: 1em;
  cursor:pointer ;
  width: 75%;
  margin-right: 1em;

}

button:hover
{
  opacity: 0.8;
}

.container
{
  background-color: #F7F6E7;
  margin-top: 3em;
  border: solid #FFAC1D 0.24em;
  border-radius: 5em;
}

h1
{
  font-weight: bold;
  font-family: "avenir", sans-serif;
  color:#383D3B;
  text-align: center;
}

.imgcontainer
{
  text-align: center;
  margin: .5em .5em .5em .5em;
  position: relative;
}

#image_container
{
  height: 82%;
  width: 50%;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

#welcome_img, #createImage
{
  border-right: solid #FFAC1D 0.24em; 
  border-top-left-radius: 4.75em;
  border-bottom-left-radius:4.75em;
  width:600px;
  margin-left: -1em;
  padding-left: 0;
}

#image_container2
{
  height: 82%;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}


form
{
  margin-top: 5em;
  color: black;
}

.form-group
{
  margin-left: 5em;
}

.email, .uname, .psw
{
  margin-top: 8px;
  margin-right: 0;
  margin-left: 5em;
  padding-left: 1em;
  padding-right:1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
}


.continue
{
  width:15%;
  border-radius: 2em;
  line-height: 0;
  margin-top: 1em;
  background-color: #274259;
   padding-left: 0.1em;
  padding-right: 0.1em;
}

.back
{
  margin-left: 45%;
  padding-left: 0.1em;
  padding-right: 0.1em;
  width:15%;
  border-radius: 2em;
  line-height: 0;
  text-align: center;
  margin-top: 1em;
  background-color: #F7F6E7;
  border: solid #274259;
  color:#274259; 
}

.acnt_stuff
{
  width:45%;
  margin-left: 25%;
  margin-top: 2em;
  text-align: center;
  padding:0.2em;
  background-color: #274259;
}

#signup
{
  display: none;
}

/*995px*/
