
button
{
  border: none;
  background-color: green;
  color:white;
  padding: 1em;
  cursor:pointer ;
  width: auto;
  margin-right: 1em;

}

button:hover
{
  opacity: 0.8;
}

.imgcontainer
{
  text-align: center;
  margin: .5em .5em .5em .5em;
  position: relative;
}

#image_container
{
  height: 82%;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

#image_container2
{
  height: 82%;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background-position: right;
  background-repeat: no-repeat;
}

form
{
  margin-top: 5em;
  margin-left: 5.5em;
  color: black;
}

input[type=text], input[type=password], input[type=email]
{
  width: 70% ;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
}

#signup
{
  display: none;
}